.net_speed {
    font-size: 14px;
    padding: 0px 6px;
    margin: 0px;
    color: $foreground;
}

.net_icon {
    font-size: 20px;
    padding: 0px;
    color: $foreground;
    margin: 0px;
}

.speed_box {
    padding: 0px 6px;
    margin: 0px;
}

.notif_bell {
    font-family: "Phosphor";
    font-size: 25px;
    padding: 0px 0px;
}

.notif_icon {
    color: $color6;
}

.notif_icon_off {
    color: $foreground;
}

.bat_bound {
    padding: 0px 2px;
}

.bat_icon {
    color: $color4;
    padding: 0px 2px 0px 6px;
    font-size: 28px;
}

.bat_text {
    padding: 0px 0px 0px 8px;
    color: $color4;
}

.date {
    color: $color8;
}

.date {
    color: $color8;
}

.system_tray {
    color: $color8;
    padding: 0px 0px 0px 8px;
    font-size: 22px;
}

